/* src/styles/components.css */
.button-lala {
  background-color: var(--lala-pink);
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.75rem;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(237, 110, 160, 0.3);
  transition: all 0.3s ease;
}

.button-lala:hover {
  background-color: var(--lala-purple);
  box-shadow: 0 0 12px rgba(237, 110, 160, 0.5);
}
